<%= stylesheet_link_tag "cohort_tool_graph" %>
<style>
  #adherence_summary{    
    border-style:solid;
    position: absolute;
    top: 75px;
    left: 150px;
    background-color: white;
    display: none;
    font-size: 25;
    z-index: 100;
    width: 400px;
    height:215px;
    -moz-user-select:none;
  }

  #adherence_summary table{
    width:100%;
  }
  
  #adherence_summary button{
    bottom:5px;
    height:55px;
    left:155px;
    position:absolute;
    width:85px;
  }

  #adherence_summary td{
  }
</style>

<script language="javascript">
  function closeSummary(){
    document.getElementById('adherence_summary').style.display="none";
  }
  
  function adhSummary(){
    document.getElementById('adherence_summary').style.display="block";
  }
</script>

<div id="header">
  <%= @report_type + "</p>" + @quater + @adherence_summary rescue  @report_type + "</p>" + @quater %>  
</div>
<table>
<tr>
<td id='y_axis'>
<ul id="vertical">
<li>
  <em>P</em>
  <em>a</em>
  <em>t</em>
  <em>i</em>
  <em>e</em>
  <em>n</em>
  <em>t</em>
  <em>s</em>
</li>
</ul>
</td>
<td id="graph_td">
  <%= render :partial => "adherence_graph" %>
</td>
</tr>
<tr>
  <td></td><td id='x_axis'></br>Adherence (%)</td>
</tr>
</table>

<div class = "buttonsDiv">
  <button id='done_button' onmousedown="javascript:document.location='/cohort_tool/select?report_type=adherence_histogram_for_all_patients_in_the_quarter'">Done</button>
</div>

<div id = "adherence_summary">
  <table>
    <tr><td style="text-align:center;">Summary</td></tr>
  </table>  
  <table>
    <tr><td><b>Adherence level</b></td><td><b>Patient(s)</b></td></tr>
    <tr><td>0 - 94%</td><td><%= @adherence_summary_hash["0 - 94"] %></td></tr>
    <tr><td>95 - 100%</td><td><%= @adherence_summary_hash["95 - 100"] %></td></tr>
    <tr><td>Over 100%</td><td><%= @adherence_summary_hash["> 100"] %></td></tr>
    <tr><td><a href="/cohort_tool/missing_adherence/?quater=<%=@quater%>">Missing</a></td><td><%= @adherence_summary_hash["missing"] %></td></tr>
  </table></br><button onClick="closeSummary()">Close</button>
</div>
