<style>
body{
  font-family: "Nimbus Sans L", "Arial Narrow", sans-serif;
  -moz-user-select:none
}
button{
  font-size:25px;
  height:60px;
  display:inline;
  margin:10px;
}
#main_table td { border-top:1px dotted silver }
#main_table tr.header{
  background-color: lightgray;
  font-weight: bold;
}
#main_table {
  width: 100%;
  border-bottom:2px solid black;
}
.valueCol {
	float: right;
  padding-right:20;
}
.color_green{color:green;}
.color_red{color:red;}

.patient_link{
  padding:10px;
  width:100%;
}
.color_white{
  padding-left:10px;
  padding-right:10px;
}

.color_blue{
  background-color:AliceBlue;
  padding-left:10px;
  padding-right:10px;
}

#mastercard {
  display:inline;
  font-size:25px;
  height:60px;
  margin:10px;
  position:absolute;
  right:113px;
  top:10px;
}

td {
  vertical-align: top;
}


.from_td{
   display:none;
}

#second_table {
  border-bottom:0px;
}

.hide{
  display:none;
  height:40px;
  width:65px;
}

.show{
 height:40px;
 width:65px; 
}
</style>
<script type="text/javascript">

  function viewEnc(encounter_id,from_str,to_str,date_voided,reason){
    var showButton = document.getElementById("show"+encounter_id);
    var hideButton = document.getElementById("hide"+encounter_id);
    var showEnc = document.getElementById("enc"+encounter_id);
    showButton.style.display = "none";
    hideButton.style.display = "inline";
     
    document.getElementById("from_"+encounter_id).innerHTML = from_str
    document.getElementById("to_"+encounter_id).innerHTML = to_str
    document.getElementById("date_voided_"+encounter_id).innerHTML = date_voided
    document.getElementById("reason_"+encounter_id).innerHTML = reason
  }
  
  function hideEnc(encounter_id){
    var showButton = document.getElementById("show"+encounter_id);
    var hideButton = document.getElementById("hide"+encounter_id);
    showButton.style.display = "inline";
    hideButton.style.display = "none";
    document.getElementById("from_"+encounter_id).innerHTML = ''
    document.getElementById("to_"+encounter_id).innerHTML = ''
    document.getElementById("date_voided_"+encounter_id).innerHTML = ''
    document.getElementById("reason_"+encounter_id).innerHTML = ''
  }
</script>

<h2>Data that was corrected</br><%= @quater%></h2>
<%= render :partial => "/reports/header" %>
</br>
<table id="main_table">
  <tr class="header">
    <td>Patient Id</td>
    <td>ARV number</td>
    <td>Encounter name</td>
    <td>Changed From</td>
    <td>Changed To</td>
    <td>Date Voided</td>
    <td>Void Reason</td>
  </tr>
  <% patient_ids = ""
     color = "blue"
     @encounters.each{|encounter_id,values|
     patient_ids+= "#{values['id']},"
     if color == "blue"
       color = "white"
     else
       color = "blue"
     end
     #________________________________________________________

     from_str = values['change_from'] rescue ""
     to_str =  values['change_to'] rescue ""
     voided_date = values['voided_date'].strftime('%Y-%m-%d') rescue ""
     reason = values['reason'] || "none"
     encounter_name = values["encounter_name"]

     encounter = "<table id='second_table'><tr>
     <td><button class='show' id='show#{encounter_id}' onclick='viewEnc(#{encounter_id},\"#{from_str}\",\"#{to_str}\",\"#{voided_date}\",\"#{reason}\");' align='center' >+</button>
     <button class='hide' id='hide#{encounter_id}' onclick='hideEnc(#{encounter_id});' align='center' >-</button>#{encounter_name}</td>" +
     "</tr></table>"
     #_________________________________________________________
  %>
  <tr>
    <td class="color_<%=color%>"><%= values["id"] %></td>
    <td class="color_<%=color%>"><%= values["arv_number"] %></td>
    <td class="color_<%=color%>" style="width:250px;"><%= encounter %></td>
    <td class="color_<%=color%>" id ="from_<%=encounter_id%>"></td>
    <td class="color_<%=color%>" id ="to_<%=encounter_id%>"></td>
    <td class="color_<%=color%>" id ="date_voided_<%=encounter_id%>"></td>
    <td class="color_<%=color%>" id ="reason_<%=encounter_id%>"></td>
   </tr>
  <% } %>
</table>

<% unless patient_ids.blank? %>
  <% form_tag :controller =>'patient' ,:action => 'mastercard',:method          =>"post"  do %>
    <%= hidden_field 'id',patient_ids[0..-2].split(",").uniq.join(",") %>
    <input id="mastercard" type="submit" value="Mastercards" name="commit"/>
  <% end %>
<% end %>
