<html>
  <head>
    <%= stylesheet_link_tag "visits_by_day" %>
  </head>
  <h2><%=@stats_name %></br><%= @quater%></h2>
  <%= render :partial => "/reports/header" %>
  </br>
  </br>
  </br>
  <div id='data'>
  <table id="data_table">  
    <thead>
      <tr>
        <td style="background:#FFFF99;" class="top_colunm">WEEK</td>
        <% unless @totals_by_week_day.blank? %>
          <td class='table_heading_td buttons top_colunm'><%= link_to_onmousedown "Mon", :action =>  'graph',:id =>@totals_by_week_day['Mon'],:quater => @quater,:day =>"Monday" %></td>
          <td class='table_heading_td buttons top_colunm'><%= link_to_onmousedown "Tue", :action =>  'graph',:id =>@totals_by_week_day['Tue'],:quater => @quater,:day =>"Tuesday"  %></td>
          <td class='table_heading_td buttons top_colunm'><%= link_to_onmousedown "Wed", :action =>  'graph',:id =>@totals_by_week_day['Wed'],:quater => @quater,:day =>"Wednesday"  %></td>
          <td class='table_heading_td buttons top_colunm'><%= link_to_onmousedown "Thu", :action =>  'graph',:id =>@totals_by_week_day['Thu'],:quater => @quater,:day =>"Thursday"  %></td>
          <td class='table_heading_td buttons top_colunm'><%= link_to_onmousedown "Fri", :action =>  'graph',:id =>@totals_by_week_day['Fri'],:quater => @quater,:day =>"Friday"  %></td>
          <td class='table_heading_td buttons top_colunm'><%= link_to_onmousedown "Sat", :action =>  'graph',:id =>@totals_by_week_day['Sat'],:quater => @quater,:day =>"Saturday"  %></td>
          <td class='table_heading_td buttons top_colunm'><%= link_to_onmousedown "Sun", :action =>  'graph',:id =>@totals_by_week_day['Sun'],:quater => @quater,:day =>"Sunday"  %></td>
        <% end %>
        <td class='table_heading_td top_colunm' id="totals">Total</td>
      </tr>
    </thead>
    <%= CohortTool.visits_by_day_results_html(@results) unless @results.blank? %>
  </table>
  </div>
  </body>
</html>

