<style>
  .buttonLine{
    height:auto;
  }

  .touchscreenTextInput {
    display:none;
  }

  #tt_page_primary_diagnosis .touchscreenTextInput
  {
    display:inline;
    top:345px;
    width:610px;
  }

  #tt_page_select_hospital .touchscreenTextInput
  {
    display:inline;
    top:345px;
    width:610px;
  }

  #num {
    display:none;
  }

  #tt_page_refer_case_to_another_hospital #viewport
  {
    height:145px;
    width:380px;
  }

  .options
  {
    height:10em
  }
  
  .options li 
  {
    font-size: 1.5em
  }
  
  li {
    border-top:1px dotted silver;
    border-bottom:1px dotted silver;
  }

  #tt_page_primary_diagnosis .touchscreenTextInput
  {
    top: 346px; 
  }

  #tt_page_primary_diagnosis .options 
  {
    height:261px;
  }

  #tt_page_secondary_diagnosis .options 
  {
    height:21em;
    top:55;
  }

  #tt_page_primary_diagnosis .options li 
  {
    font-size: 1.5em
  }
  
  #space { display:inline; font-size:1.2em; }
    
  li {
    border-top:1px dotted silver;
    border-bottom:1px dotted silver;
  }

  .prescription {
    margin-left:30px;
    margin-top:30px;
    background:#fff;
  }

  #tt_page_primary_diagnosis #viewport{width:595px;top:48px;}
  #viewport{width:595px;}
</style>
<script type="text/javascript">
  var tt_cancel_destination = "/diagnosis/diagnosis/<%#= @patient.patient_id %>"
  function set_diagnosis(diagnosis) {
    var drug = encodeURI($(diagnosis).value);
    $('touchscreenInput'+tstCurrentPage).setAttribute('ajaxURL', "/diagnosis/list?value=");
    clearInput();
  }
</script>


<form id='diagnosis' action="/diagnosis/create" method='post'>



  <select id="select" name="select" helptext="REFER CASE TO ANOTHER HOSPITAL">
    <option value="option3"></option>
    <option value="option1">Yes</option>
    <option value="option2">No</option>
  </select>
  <label for="refer">SELECT HOSPITAL</label>
    <% options = {
      :id => "refer",
      :field_type => 'text',
      :helptext =>"SELECT HOSPITAL",
      :condition => "($('select').value == 'option1')",
      :allowFreeText => 'true',
      :ajaxURL => "/search/health_center_locations?value=",
      :textCase => "upper",
      :tt_onLoad => "changeCaption()"
    } %>


    <script>
      function selectedValue(){
        var value = $('select').value;
        if (value == 'option1'){
          return true
        }
        return false;
      } 

      function changeCaption(){
       $('nextButton').innerHTML = 'Finish';
      }
    </script>


    <%= text_field_tag :location_name, nil, options %>
    <%= hidden_field_tag("observations[][concept_name]", "REFER TO OTHER HOSPITAL", options) %>

    <%= hidden_field_tag "encounter[encounter_type_name]", "REFERRED" %>
    <%= hidden_field_tag "encounter[patient_id]", @patient.id %>
    <%= hidden_field_tag "encounter[encounter_datetime]", DateTime.now() %>
    <%= hidden_field_tag "encounter[provider_id]", session[:user_id] %>

  
    <%= select_tag(:primary_diagnosis, options_for_select(@options) ,:helpText =>"PRIMARY DIAGNOSIS",:condition => "selectedValue() == false")%>
    <% options = [""]
       options << ["Not applicable"]
       @options.each{|option|
         options << option
       }
    %>
    <%= select_tag('secondary_diagnosis[]', options_for_select(options) ,:multiple => true, :helpText =>"SECONDARY DIAGNOSIS",:condition => "selectedValue() == false")%>
  
</form>
