
<%= javascript_include_tag "touchscreenToolkit" %>
<%= javascript_include_tag "pmis" %>
<%= javascript_include_tag "dateselector" %>
<%=stylesheet_link_tag "drug_management"%>
<%=stylesheet_link_tag "touch"%>

<form method="post" action ="adjustments">

<% optionsString = "<option>" "" "</option>"
  optionsString = ["<option></option>"]
  optionsString << "<option value = 'damaged'>Damaged</option>"
  optionsString << "<option value = 'expired'>Expired</option>"
  optionsString << "<option value = 'given_to_clinic'>Given to other clinics</option>"
  optionsString << "<option value = 'edit_stock'>Edit stock</option>"
  #optionsString << "<option value = 'missing'>Went missing</option>"
  optionsString << "<option value = 'other'>Other</option>"
%>
<%=select_tag(:edit_reason, optionsString,  {:field_type => 'alpha', 
  :tt_pageStyleClass => "ShortSelectList", 
  :helpText => "State reason",:value =>@delivery_month})%>

<%= hidden_field_tag :drug_id, @drug.id %>

<%= text_field_tag (:number_of_tins,nil,{:field_type => 'number',
    :helpText => "Number of tins",
    :validationMessage => "Number of tins greater than the available tins",
    :absoluteMax => ((Pharmacy.current_drug_stock(@drug.id)/60).round rescue 0),
    :absoluteMin => 1}) %>

    <%= text_field_tag (:expiry_year,nil,{:field_type => 'number', 
        :absoluteMin => Pharmacy.first_delivery_date.year, 
        :absoluteMax => Date.today.year.to_s, 
        :helpText => "Encounter year",:value => @delivery_year}) %>

    <% optionsString = "<option>" "" "</option>"
    1.upto(12){ |number| 
         optionsString += "<option value = '" + number.to_s + "'>" + Date::MONTHNAMES[number] + "</option>"
      }
      #optionsString+= "<option value='Unknown'>Unknown</option>"
    %>

    <%=select_tag(:expiry_month, optionsString,  {:field_type => 'alpha', 
      :tt_pageStyleClass => "ShortSelectList", 
      :validationRule => Pharmacy.valide_months, 
      :validationMessage => "Selected month is greater than first delivery month",
      :helpText => "Encounter month",:value => @delivery_month,
      :condition => '$("expiry_year").value.toLowerCase() != "unknown"' })%>

    <%day=Array.new(31){|d|d + 1 } 
      days = [""].concat day
      days << "Unknown"%>
    <%= select_tag(:expiry_day, options_for_select(days, @patient_birthdate), 
      :validationRule => Pharmacy.valide_days, 
      :validationMessage => "Selected day is greater than first delivery day",
      :field_type => 'number', :helpText => 'Encounter day', 
      :condition => '$("expiry_year").value.toLowerCase() != "unknown" && $("expiry_month").value.toLowerCase() != "unknown"')  %>

    <%= hidden_field_tag :start_date, params[:start_date] %>                      
    <%= hidden_field_tag :end_date, params[:end_date] %> 
</form>
