<style>
body{
  font-family: "Nimbus Sans L", "Arial Narrow", sans-serif;
  -moz-user-select:none
}

button{
  font-size:25px;
  height:60px;
  display:inline;
  margin:10px;
}

/*td { border-top:1px dotted silver }*/

tr.header{
  background-color: lightgray;
  font-weight: bold;
  vertical-align: bottom;
}

table{
  width: 100%;
  border-bottom:2px solid black;
}

.valueCol {
	float: right;
  padding-right:20;
}

.color_white{
  padding-right:10px;
  vertical-align: top;
}

.color_blue{
  background-color:AliceBlue;
  padding-right:10px;
  vertical-align: top;
}

.patient_link{
  padding:10px;
  width:100%;
}

.caldata {
  text-align:right; 
  text-align:right;
}

#keypad{
 background-color:#FFFF99;
 position:absolute;
 top:10px;
 width:330px;
 right:500px;
 height:440px;
 display:none;
 border-bottom-color-value:lightblue;
 border-top-color-value:lightblue;
 border-right-color-value:lightblue;
 border-left-color-value:lightblue;
 border-style:solid;
}

#press{
  font-size:75px;
  height:80px;
  position:absolute;
  right:13px;
  top:35px;
  width:300px;
}

span {
  left:0;
  position:absolute;
  right:13px;
  text-align:left;
  top:120px;
  width:312px;
}

.keypadbutton{
  width:55px;
}

.inner-data {
  border-style: none;
}

a { text-decoration: underline !important; }
</style>

<script>
  var original_form_current_stock = []
  var original_form_dispensed = []
  var original_form_prescribed = []
  var original_form_consumption_per = []
</script>

<h2>Drug stock report<br><%= @quater%></br></h2>
<%= render :partial => "header" %>
</br>
<table>
  <tr class="header">
    <td>
      <table>
        <tr>
          <td colspan="2">&nbsp;</td>
        </tr>
        <tr>
          <td style="width:200px;">Item</td>
          <td style="text-align:right;padding-right:5px;">Units</td>
        </tr>
      </table>
    </td>
    <td>
      <table>
        <tr>
          <td colspan="2" style="text-align:center;">Opening stock</td>
        </tr>
        <tr>
          <td>Date</td>
          <td style="text-align:right;">Verified</td>
        </tr>
      </table>
    </td>
    <td>
      <table>
        <tr>
          <td colspan="2" style="text-align:center;">Total adjustments in interval</td>
        </tr>
        <tr>
          <td style="vertical-align: bottom;">Recieved</td>
          <td style="text-align:right;">Relocated <br />out/disposed</td>
        </tr>
      </table>
    </td>
    <td>
      <table>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td colspan="2" style="text-align:center;">Dispensed</td>
        </tr>
      </table>
    </td>
    <td>
      <table>
        <tr>
          <td colspan="3" style="text-align:center;">Closing stoke</td>
        </tr>
        <tr>
          <td style="width:100px;">Date</td>
          <td>Expected</td>
          <td style="text-align:right;">Verified</td>
        </tr>
      </table>
    </td>
    <td>
      <table>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td colspan="2" style="text-align:center;">Difference</td>
        </tr>
      </table>
    </td>
  </tr>
  <%color = "blue"
    count = 1
    original_form_count = 0
    @stock.each{|name,values|
      if color == "blue"
        color = "white"
      else
        color = "blue"
      end
      %>
  <tr>
    <td class="color_<%=color%>">
      <table class="inner-data">
        <tr>
          <td style="width:105px;"><%=name%></td>
          <td style="text-align:right;width:40px;vertical-align: top;">tins (60 tabs)</td>
        </tr>
      </table>
    </td>
    <td class="color_<%=color%> caldata" id="current_stock_<%=count%>">
      <table class="inner-data">
        <tr>
          <td style="width:60px;text-align:left;"><%=values['start_date']%></td>
          <td style="width:60px;">
            <a style="color:green;" href="<%=values['opening_verification_url']%>"><%=(values['confirmed_opening'] / 60).round %></a>
          </td>
        </tr>
      </table>
    </td>
    <td class="color_<%=color%> caldata" id="current_stock_<%=count%>">
      <table class="inner-data">
        <tr>
          <td style="width:30px;text-align:left;">
            <a style="color:green;" href="<%=values['received']%>">+<%= (values['receipts'] / 60).round %></a>
          </td>
          <% relocated = (values['relocated'] / 60).round 
            if relocated < 0
          %>
            <td style="width:100px;color:red;">
              <a style="color:red;" href="<%=values['disponsed']%>"><%=relocated%></a>
            </td>
          <%else%>
            <td style="width:100px;color:red;">
               <a style="color:red;" href="<%=values['disponsed']%>">-<%=relocated %></a>
            </td>
          <%end%>
        </tr>
      </table>
    </td>
    <td class="color_<%=color%> caldata" id="dispensed_<%=count%>">
      <table class="inner-data">
        <tr>
        <% dispensed = (values['dispensed'] / 60).round
           if dispensed < 0
        %>
          <td style="text-align:center;color:red;"><%=dispensed %></td>
        <%else%>
          <td style="text-align:center;color:red;">-<%=dispensed %></td>
        <%end%>
        </tr>
      </table>
    </td>
    <td class="color_<%=color%> caldata" id="dispensed_<%=count%>">
      <table class="inner-data">
        <tr>
          <td style="text-align:left;width:40px;"><%=values['end_date'] %></td>
          <%

            plus_values = (values['receipts'] / 60).round
            plus_values += (values['confirmed_opening'] / 60).round

            minus_values = relocated
            minus_values += dispensed

            expected = plus_values - minus_values
          %>
          <%#=(values['expected'] / 60).round %>
          <td style="text-align:left;width:75px;"><%= expected %></td>
          <td style="text-align:right;width:75px;">
            <a style="color:green;" href="<%=values['closing_verification_url']%>"><%=(values['confirmed_closing'] / 60).round %></a>
          </td>
        </tr>
      </table>
    </td>
    <td class="color_<%=color%> caldata" id="dispensed_<%=count%>">
      <%
        verified = (values['confirmed_closing'] / 60).round
        difference = ((verified.to_f/expected.to_f)*100).round
      %>
      <table class="inner-data">
        <tr>
          <%if difference < 0 %>
            <td style="text-align:center;color:red;"><%= difference %>&#37;</td>
          <%elsif difference == 0 %>
            <td style="text-align:center;color:green;"><%= difference %>&#37;</td>
          <%else%>
            <td style="text-align:center;color:green;">+<%= difference %>&#37;</td>
          <%end%>
        </tr>
      </table>
    </td>



   </tr>
   <% count+=1
      original_form_count+=1
    }%>
</table>

