<style>
.buttons{
  text-align:center;
  position:absolute;
  width:98%;
  left:0;
  padding-left:10px;
}
#mainBar{    
  background-color:lightgray;
  height:41px;
  left:0;
  position:absolute;
  width:100%;
}

#contentArea {
  padding-left:15px;
}

#main-title{
  background-color:lightgray;
  background-position:-21px -31px;
  outline-color:-moz-use-text-color;
  outline-style:none;
  outline-width:medium;
  font-size:20px;
}

#username{
  background-color:lightgray;
  background-position:-21px -31px;
  outline-color:-moz-use-text-color;
  outline-style:none;
  outline-width:medium;
  font-size:20px;
}

#user{
  float:right;
  font-size:15px;
  padding-right:10px;
}

.ButtonRow {
  border-top:1px solid #DDDDDD;
  margin:0 0 8px;
  overflow:hidden;
  padding:8px 0 0;
}
</style>
<head>
  <title>Main menu</title>
</head>
<%= render(:partial => "/user/retrospective_login_head") %>
</br></br>
<div class="buttons">
  <%if flash[:error]
    flash[:error] = 'Could not find patient with given ID' %>
    <div class="ButtonRow"><font style="font-size:13px;color:red;"><%= flash[:error] %></font></div>
  <%end%>
  <div class="ButtonRow">
    <form id='barcodeForm' action="/encounter/scan/">
      <div><input id="barcode" name="barcode" type="text"></input></div>
      <%= hidden_field_tag "retrospective_data_entry","true" %>
    </form>
    <%= javascript_include_tag "barcode"%>
  </div>
  <div class="ButtonRow"><%= link_to "Create patient", :action =>'add' %></div>
  <div class="ButtonRow"><%= link_to "Find patient", :action => "quick_search" %></div>
  <div class="ButtonRow"><%= link_to "Change program", :action => "program" %></div>
  <div class="ButtonRow"><%= link_to "Logout", :controller => "user", :action =>'retrospective_login' %></div>
</div>
