<%=stylesheet_link_tag "mastercard"%>
<style>
#redo_staging_data{}
#redo_staging_td{}
</style>
<%=render (:partial => "/user/retrospective_login_head")%>
</br></br>
<table>
<form action="staging" onSubmit="return validateForm()" method="post">
  <%=render (:partial => "staging_conditions")%><%="</br>"*0%>
  <%=render (:partial => "/patient/footer")%>
  <%=hidden_field_tag :encounter_date, @encounter_date %>
</form>
</table>

<script>
  function validateForm(){

    var location_name = Trim(document.getElementById('location_name').value)
    if (location_name == ""){
      alert('Select which clinic the patient is coming from.')
      return false
    } 

    element = document.getElementById('stage_one[]')
    element2 = document.getElementById('stage_two[]')
    element3 = document.getElementById('stage_three[]')
    element4 = document.getElementById('stage_four[]')

    var str_cd4_count = Trim(document.getElementById("cd4_count_").value)
    if (str_cd4_count != ""){
      if (str_cd4_count.match(/[a-zA-Z]+/)){
        alert("CD4 count should be a number")
        return false
      }
      var init_cd4_count = parseFloat(str_cd4_count)
      if(init_cd4_count < 0){
        alert("CD count should be more than 0")
        return false
      }
    }


    var str_cd4_per = Trim(document.getElementById("cd4_per_").value)
    if (str_cd4_per != ""){
      if (str_cd4_per.match(/[a-zA-Z]+/)){
        alert("CD4 count percentage should be a number")
        return false
      }
      var init_cd4_per = parseFloat(str_cd4_per)
      if(init_cd4_per > 0){
        alert("CD count percentage should be more than 0")
        return false
      }
    }

    if((str_cd4_count + str_cd4_per + element.value + element2.value + element3.value + element4.value).length == 0){
      alert("Select a condition")
      return false
    }

    return true
  }

  function Trim(str){
    while (str.substring(0,1) == ' ') // check for white spaces from beginning
    {
        str = str.substring(1, str.length);
    }
    while (str.substring(str.length-1, str.length) == ' ') // check white space from end
    {
        str = str.substring(0,str.length-1);
    }
    return str;
  }

</script>
