<%= unobtrusive_datepicker_includes %>
<%#= javascript_include_tag "prototype" %>
<style>
.buttons{
  text-align:center;
  position:absolute;
  width:98%;
  left:0;
  padding-left:10px;
}
#mainBar{    
  background-color:lightgray;
  height:41px;
  left:0;
  position:absolute;
  width:100%;
}

#contentArea {
  padding-left:15px;
}

#username{
  background-color:lightgray;
  background-position:-21px -31px;
  outline-color:-moz-use-text-color;
  outline-style:none;
  outline-width:medium;
  font-size:20px;
}

#user{
  float:right;
  font-size:15px;
  padding-right:10px;
}

.ButtonRow {
  border-top:1px solid #DDDDDD;
  margin:0 0 8px;
  overflow:hidden;
  padding:8px 0 0;
}
</style>

<head>
  <title><%=session[:patient_program] + " program"%></title>
</head>

<%= render(:partial => "/user/retrospective_login_head") %>
<font id="user"><%="&nbsp;"*10%><%= link_to "Back" ,:controller =>"patient",:action =>"tb_card",:id => @patient_id %></font>
</br></br>
<div class="buttons">
  <%if flash[:error]
    flash[:error] = 'Could not find patient with given ID' %>
    <div class="ButtonRow"><font style="font-size:13px;color:red;"><%= flash[:error] %></font></div>
  <%end%>
  <div class="ButtonRow">
    <table>
      <tr>
        <td><%="&nbsp;"*10%><%= @patient_name %></td>
        <td><%="&nbsp;"*10%><%= @national_id %></td>
        <td><%="&nbsp;"*10%><%= @arv_number %></td>
      </tr>
    </table>
  </div>
  <form id="tb_fields" action="/patient/create_tb_encounter" onSubmit="return validateForm()"/>
    <div class="ButtonRow">
      <table>
        <tr>
          <td><%="&nbsp;"*10%>Visit Date:&nbsp;</td><td><%= unobtrusive_date_picker :visit_date,nil,:start_year => 1900 ,:end_year => Date.today.year %></td>
        </tr>
      </table>
    </div>
    <div class="ButtonRow">
      <table>
        <tr>
          <td><%="&nbsp;"*10%>TB ID:&nbsp;</td><td><%= text_field "tb_id",nil ,:size => 10 ,:value => @tb_id%></td>
        </tr>
        <tr><td><%="&nbsp;"*10%>TB Type:&nbsp;</td><td><%= select_tag 'tb_type',options_for_select(@tb_type[0..2]) %></td></tr>
        <tr><td><%="&nbsp;"*10%>Episode Type:&nbsp;</td><td><%= select_tag 'episode_type',options_for_select(@espisode_type) %></td></tr>
        <tr><td><%="&nbsp;"*10%>Treatment Start:&nbsp;</td><td><%= unobtrusive_date_picker :start_year,nil,:start_year => 1900 ,:end_year => Date.today.year %></td></tr>
        <tr><td><%="&nbsp;"*10%>Regimen:&nbsp;</td><td><%= select_tag 'regimen',options_for_select(@tb_regimen) %></td></tr>
        <tr><td><%="&nbsp;"*10%>CPT:&nbsp;</td><td><%= select_tag 'cpt',options_for_select( ["","Yes","No"]) %></td></tr>
        <tr><td><%="&nbsp;"*10%><hr width=60%></td></tr>
        <tr><td><%="&nbsp;"*10%>Sputum count:&nbsp;</td><td><%= select_tag 'sputum',options_for_select(@sputum_count) %></td></tr>
        <tr><td><%="&nbsp;"*10%>ART status:&nbsp;</td><td><%= select_tag 'art_status',options_for_select(@art_status) %></td></tr>
        <tr><td><%="&nbsp;"*10%>Outcome:&nbsp;</td><td><%= select_tag 'outcome',options_for_select(@tb_outcome.sort) ,:onchange => "enterOutcome()"%></td></tr>
        <tr><td><%="&nbsp;"*10%>Treatment End:&nbsp;</td><td><%= unobtrusive_date_picker :end_year,nil,:start_year => 1900 ,:end_year => Date.today.year %></td></tr>
      </table>
    </div>
    <div class="ButtonRow">
      <table>
        <tr>
          <td><%="&nbsp;"*10%><%=submit_tag "Save" %></td>
        </tr>
      </table>
    </div>
    <%= hidden_field_tag 'patient_id', "#{@patient_id}" %>
  </form>
</div>


<script type="text/javascript">


    <% unless @pre_tb_type.blank? %>
      document.getElementById("tb_type").value = '<%= @pre_tb_type %>'
      document.getElementById("tb_type").disabled = true
    <%end%>

    <% unless @pre_tb_regimen.blank? %>
      document.getElementById("regimen").value = '<%= @pre_tb_regimen %>'
      document.getElementById("regimen").disabled = true
    <%end%>

    <% unless @pre_tb_episode.blank? %>
      document.getElementById("episode_type").value ='<%=@pre_tb_episode%>'
      document.getElementById("episode_type").disabled = true
    <%end%>

    <% unless @pre_prescribe_cpt.blank? %>
      document.getElementById("cpt").value = '<%=@pre_prescribe_cpt%>'
      document.getElementById("cpt").disabled = true
    <%end%>



  <% unless @tb_id.blank? %>
    document.getElementById("tb_id_").disabled = true
  <% end %>

  end_year = document.getElementById("end_year_")
  end_month = document.getElementById("end_year_-mm")
  end_day = document.getElementById("end_year_-dd")


  start_year = document.getElementById("start_year_")
  start_month = document.getElementById("start_year_-mm")
  start_day =  document.getElementById("start_year_-dd")

  visit_year = document.getElementById("visit_date_")
  visit_month = document.getElementById("visit_date_-mm")
  visit_day =  document.getElementById("visit_date_-dd")


  tb_id =  document.getElementById("tb_id_")
  tb_type =  document.getElementById("tb_type")
  episode_type =  document.getElementById("episode_type")
  regimen =  document.getElementById("regimen")
  cpt =  document.getElementById("cpt")
  outcome =  document.getElementById("outcome")
  sputum =  document.getElementById("sputum")
  art_status =  document.getElementById("art_status")



  function disabledStartDate(){
    start_year.disabled = true
    start_month.disabled = true
    start_day.disabled = true
  }

  function enabledEndDate(){
    end_year.disabled= false
    end_month.disabled= false
    end_day.disabled= false
  }

  function disabledEndDate(){
    end_year.disabled= true
    end_month.disabled= true
    end_day.disabled= true
  }

  function enterOutcome(){
    if (outcome.value != 'On TB Treatment' && outcome.value !=""){
      enabledEndDate();
    }else{
      disabledEndDate();
    }
  }

  function dateCreate(year,month,day){
    today = new Date();

    if(month.length == 1)
      month = '0' + month

    if(day.length == 1)
      day = '0' + day

    return dateArray(year + "-" + month + "-" + day)
  }

  function dateArray(date_str){
    intyear = 0 ; intmonth = 0 ; intday = 0;
    intyear = parseInt(date_str.substring(0,4))
    intmonth = (parseInt(date_str.substring(5,7)) - 1)
    intday = (parseInt(date_str.substring(8,10)))

    if (intmonth == -1)
      intmonth = (parseInt(date_str.substring(5,7).substring(1,2)) - 1)

    if (intday == 0)
      intday = parseInt(date_str.substring(8,10).substring(1,2))

    return new Date(intyear,intmonth,intday);
  }

  function validateForm(){
    var visit_date = dateCreate(visit_year.value,visit_month.value,visit_day.value)
    var start_date = dateCreate(start_year.value,start_month.value,start_day.value)
    var end_date = dateCreate(end_year.value,end_month.value,end_day.value)
     
    if (visit_date > new Date){
      alert("Clinic visit date is in the future")
      return false;
    }else if (tb_id.value == ""){
      alert("Enter TB ID")
      return false;
    }else if (tb_type.value == ""){
      alert("Select TB Type")
      return false;
    }else if(episode_type.value == ""){
      alert("Select Episode Type")
      return false;
    }else if(regimen.value == ""){
      alert("Select regimen")
      return false;
    }else if(cpt.value == ""){
      alert("Was the CPT given? - Select YES/NO")
      return false;
    }else if(sputum.value == ""){
      alert("Select sputum count")
      return false;
    }else if(art_status.value == ""){
      alert("Select ART status")
      return false;
    }else if(outcome.value == ""){
      alert("Select outcome")
      return false;
    }else if(start_date > new Date){
      alert("Treatment start date can not be in the future")
      return false;
    }else if(end_date < start_date && ((end_year.disabled) == false)){
      alert("Treatment end date can not be less than treatment start date")
      return false;
    }else if(((end_year.disabled) == false)){
      if (end_date > new Date){
        alert("Treatment end date can not be in the future")
        return false;
      }
    }

    var valid_tb_id = validateTBId(tb_id);
    if (!valid_tb_id == true){
      return false;
    }

    return true
  }

  enterOutcome();
  //var tb_start_treatment_date = new Date('<%=@tb_start_treatment_date.to_date.month rescue nil%>','<%=@tb_start_treatment_date.to_date.day rescue nil%>','<%=@tb_start_treatment_date.to_date.year rescue nil%>')
  var tb_start_treatment_date = '<%=@tb_start_treatment_date.to_date.to_s rescue nil%>'

  if (tb_start_treatment_date){
    start_year.value = '<%=@tb_start_treatment_date.to_date.year rescue nil%>'
    start_month.value = '<%=@tb_start_treatment_date.to_date.month rescue nil%>'
    start_day.value = '<%=@tb_start_treatment_date.to_date.day rescue nil%>'
    disabledStartDate();
  }

  function validateTBId(tb_number){
    if(tb_id.disabled)
      return true 

    var current_tb_numbers = <%=@current_numbers%>
    if (Trim(tb_number.value)==""){
      alert("TB number is empty")
      return false
    }
   /* 
    if (tb_number.value.match(/[A-Za-z]+/)){
      alert('Please enter a number only')  
      return false
    }*/

    try{
      var prefix = tb_number.value.match(/[A-Za-z]+/)[0]
    }catch(e){
      var prefix = 'ZA'
    }  

    try{
      var tb = parseFloat(Trim(tb_number.value).match(/[0-9]+/)[0])
    }catch(e){
      var tb = null
    }  

    if (!(tb)){
      alert('Please enter a valid TB number')  
      return false
    }

    if (tb.toString().length < 3){
      alert('"TB number" should be atleast a 3 digit number')  
      return false
    }

    var prefix_tb = prefix.toUpperCase() + " " + tb

    for (i=0;i < current_tb_numbers.length;i++){
      if (prefix_tb == current_tb_numbers[i]){
        alert('TB number exist already')
        return false
      }
    }
    tb_id.value = prefix_tb;
    return true
  }


  function Trim(str){
    while (str.substring(0,1) == ' ') // check for white spaces from beginning
    {
        str = str.substring(1, str.length);
    }
    while (str.substring(str.length-1, str.length) == ' ') // check white space from end
    {
        str = str.substring(0,str.length-1);
    }
    return str;
  }
</script>

